@charset "utf-8";

/**
 * This file is part of phpMCWeb.
 * phpMCWeb is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * phpMCWeb is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with phpMCWeb. If not, see <http://www.gnu.org/licenses/>.
 */

div.news_powered {
	text-align: center;
}

div.news {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

div.news_icon {
	float: left;
	padding-bottom: 3px;
	padding-right: 3px;
}

table.news_comments {
	border-collapse: collapse;
	border: 1px solid #DCDCDC;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

div.main_content_box_news {
	height: 560px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}