@charset "utf-8";
/* CSS Document */

div.news_powered {
	text-align: center;
}

div.news {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

div.news_icon {
	float: left;
	padding-bottom: 3px;
	padding-right: 3px;
}

table.news_comments {
	border-collapse: collapse;
	border: 1px solid #DCDCDC;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

div.main_content_box_news {
	height: 560px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}