@charset "utf-8";

div.news {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	margin-bottom:30px;
}

div.story {
	text-align: justify;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
	border-top: 1px solid #E4E4E4;
}

div.comment_author {
	border-bottom: 1px solid #D3D3D3;
}

div.comment {
	padding: 2px;
}

div.active_news_links {
	float: right;
}

div.powered_by {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	font: 9px Verdana;
}