@charset "utf-8";
/**
 * This file is part of phpMCWeb.
 * phpMCWeb is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * phpMCWeb is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with phpMCWeb. If not, see <http://www.gnu.org/licenses/>.
 */

div.inventory {
	background-image: url('inventory.png');
	height: 332px;
	width: 352px;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: #FFF;
}

div.inventory #armour {
	height: 144px;
	width: 32px;
	margin-left: 12px;
	margin-top: 12px;
	position: absolute;
}

div.inventory #top {
	height: 108px;
	width: 324px;
	margin-left: 12px;
	margin-top: 16px;
}

div.inventory #bottom {
	height: 32px;
	width: 324px;
	margin-left: 12px;
	margin-top: 8px;
}

div.inventory #item {
	height: 32px;
	width: 32px; 
	margin-left: 4px;
	margin-top: 4px;
	float: left;
	background-position: center;
}

div.inventory #item #count {
	font-weight: bold;
	float: right;
	margin-top: 17px;
	margin-right: 1px;
}

div.inventory #health {
	background-image: url('healthbar.png');
	background-repeat: no-repeat;
	height: 16px;
	width: 170px;
	position: absolute;
	top: 0;
	margin-top: 12px;
	margin-left: 173px;
	padding-left: 2px;
	padding-top: 1px;
}

div.inventory #pip {
	height: 12px;
	width: 12px;
	margin-right: 4px;
	margin-top: 1px;
}

img.player {
	height: 124px;
	width: 64px;
	margin-left: 71px;
	margin-top: 24px;
}