@charset "utf-8";
/* CSS Document */

div.inventory {
	background-image: url('inventory.png');
	width: 352px;
	height: 332px;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	color: #FFF;
}

div.armour_area {
	height: 144px;
	width: 32px;
	margin-left: 12px;
	margin-top: 12px;
	position: absolute;
	top: 0;
	display: block;
}

div.inventory_area {
	height: 108px;
	width: 324px;
	margin-left: 12px;
	margin-bottom: 60px;
	position: absolute;
	bottom: 0;
}

div.inventory_area_bottom {
	height: 32px;
	width: 324px;
	margin-left: 12px;
	margin-bottom: 20px;
	position: absolute;
	bottom: 0;
}

div.item {
	height: 32px;
	width: 32px; 
	margin-left: 4px;
	margin-top: 4px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}

div.item_count {
	font-weight: bold;
	float: right;
	margin-top: 17px;
	margin-right: 1px;
}

div.healtbar {
	background-image: url('healthbar.png');
	background-repeat: no-repeat;
	height: 16px;
	width: 169px;
	position: absolute;
	top: 0;
	margin-top: 12px;
	margin-left: 168px;
	padding-left: 2px;
	padding-top: 1px;
}

img.healthpip {
	height: 12px;
	width: 12px;
	margin-right: 5px;
	margin-top: 1px;
}

img.player {
	height: 124px;
	width: 64px;
	margin-left: 70px;
	margin-top: 24px;
}